<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js" integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Radar</title>
</head>
<body style="background-color:black">
    <div class="container" style="float:left;">
         <div class="row">       
         <h2> Change Map </h2>   
            <div class = "col-md-3">
                <div>
                    <select  class="form-select" aria-label="Default select example" name="metric" id="metric">
                        <option value="de_dust2">de_dust2</option>
                        <option value="de_inferno">de_inferno</option>
                        <option value="de_mirage">de_mirage</option>
                        <option value="de_cache">de_cache</option>
                        <option value="de_train">de_train</option>
                        <option value="de_overpass">de_overpass</option>
                        <option value="de_vertigo">de_vertigo</option>
                        <option value="de_nuke">de_nuke</option>
                    </select>                   
                </div>
            </div>
            <div class = "col-md-3">
                <select  class="form-select" aria-label="Default select example" name="map_style" default="new" id="map_style">
                        <option value="classic">classic</option>
                        <option value="new">minimalist</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class= "col-md-6">
                <canvas id="radar" width="600" height="600" style="z-index:1000;text-align:center;padding-left: 50%;"></canvas>  
            </div>
        </div>
        <div class="row">
            <div class= "col-md-6">
                <h2> enemy Details</h2>
                <ul class="list-group" id="enemy_list">
                    <li class="list-group-item"> Toby
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70% Complete
                      </div>
                    </div>  
                    </li>
                </ul>
            </div>

            <div class= "col-md-6">
                <h2> Settings</h2>
                <label for="radar_ratio" class="form-label">Radar Scale</label>              
                <input type="range" onchange="update_radar_scale()" class="form-range" min=0 max=1 step=0.01 value= 0.5 id="radar_scale">
                <label for="player_size" class="form-label">Player Dot Size</label>              
                <input type="range" onchange="update_player_scale()" class="form-range" min=4 max=14 step=1 value= 8 id="player_dot_size">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" value=true id="name_radio" checked>
                  <label class="form-check-label" for="name_radio">
                    Name on radar
                  </label>
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" value=true id="health_radio" checked>
                  <label class="form-check-label" for="health_radio">
                    Health on radar
                  </label>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
